<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">
						<p style="margin-bottom: 0;">Light Tracer based on our unique technology which we call <i>Light Engine</i>.</p>
						<p>These are some of the most relevant features of the engine</p>
					</h3>
                </div>
            </div>
			
            <div class="row text-center">
			
				<!-- ROW 1 -->
			
                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/web.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Client-side Web rendering</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Light Tracer is the world's first solution for GPU accelerated, photorealistic <i>client-side</i> rendering in desktop Web browsers. Microsoft Edge, Google Chrome and Mozilla Firefox are supported</p>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/pbr.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Physically-based GPU engine</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Based on a completely physically-correct unbiased ray tracing engine working on <i>any</i> graphics card, both discrete NVIDIA/AMD GPUs and integrated Intel/AMD GPUs</p>
                </div>
				<div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/gpu.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Fast and efficient</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">A highly optimized ray tracing engine provides <i>interactive</i> feedback to all your changes. Dynamic scene modifications made possible by rapid updates to the acceleration structures</p>
                </div>
			
			</div>
			
			<br>
				
			<div class="row text-center">
				
				<!-- ROW 2 -->

                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/progressive.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Progressive refining</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Light Tracer uses <i>progressive</i> rendering so that a noisy preview progressively refines to a final quality image. Just stop the rendering when the noise level is low enough</p>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/materials.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Materials</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Light Tracer features a simple but robust two-layered PBR material model with the full support of <i>metalness</i> workflow. It allows simulating realistic surfaces, such as metal, paint, wood, stone, rubber, glass, gemstones, plastic, etc.</p>
                </div>
				<div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/lights_system.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Lights system</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Light Tracer is mainly designed to use <i>Image-Based Lighting</i> (IBL) captured from real-world photography. Emissive meshes and analytically defined emitters are supported as well</p>
                </div>
				
			</div>
			
			<br>
			
			<div class="row text-center">
				
				<!-- ROW 3 -->
				
                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/shadow_catcher.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Shadow catcher</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Using the <i>Shadow Catcher</i>, you can easily capture shadows on a surface, while the rest of the material can remain see-through. So the scene looks like shadows cast onto the environment itself</p>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/backplate.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Backplates</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Enhance your product visualization with custom <i>backplate</i> images or use a transparent background to finalize composition later</p>
                </div>
				<div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/mat_presets.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Material library</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">To setup scenes quickly, Light Tracer comes with a <i>library of customizable PBR materials</i> that can be used as prototypes and allow to get end results as soon as possible</p>
                </div>
				
			</div>
			
			<br>
				
			<div class="row text-center">
				
				<!-- ROW 4 -->
				
                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/denoise.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">AI denoising</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Get final images even faster using Intel or NVIDIA AI denoisers. Or simply get almost instant noise-free previews when editing the scene. Use the built-in real-time denoiser even in the Web</p>
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/import.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">File import</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Import the most common 3D formats such as OBJ, STL, (zipped) GLTF or GLB, as well as neutral STEP/IGES CAD formats. When importing from CAD, control how accurately surfaces are tessellated</p>
                </div>
				<div class="col-md-4" style="margin-bottom: 10px;">
					<div class="circleborder">
						<img class="face" src="img/about/native.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Native version</h4>
                    <p class="text-muted" style="font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;line-height: 1.4;">Export your artwork from Light Tracer <i>Standalone</i> and showcase it interactively in a Web browser! Both <i>Standalone</i> and <i>Web</i> versions use absolutely the same engine ensuring identical rendering results</p>
                </div>
				
            </div>
			
            <div class="row">
                <div class="col-lg-12 text-center">
					<h2 class="section-heading">
						<div class="centered-media">
							<div style="position:relative;padding-top:56.25%;">
							  <iframe src="https://www.youtube-nocookie.com/embed/9f2EJe9LMc8" frameborder="0" allowfullscreen
								style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
							</div>
						</div>
					</h2>
                </div>
            </div>
			
			

			</div>
			
        </div>
    </section>