<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Highlighted features of Light Tracer Render</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
					<div class="circleborder">
						<img class="face" src="img/about/web.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Client-side Web renderer</h4>
                    <p class="text-muted">Light Tracer is the world's first solution for GPU accelerated, photorealistic client-side rendering inside a Web browser. At the moment, only Google Chrome and Mozilla Firefox are supported!</p>
                </div>
                <div class="col-md-4">
					<div class="circleborder">
						<img class="face" src="img/about/pbr.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Physically-correct engine</h4>
                    <p class="text-muted">It is based on a physically-correct unbiased ray tracing engine working on any graphics card – both discrete GPUs like NVidia/AMD and integrated GPUs like Intel (with a lower performance, of course).</p>
                </div>
				<div class="col-md-4">
					<div class="circleborder">
						<img class="face" src="img/about/gpu.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Fast and efficient</h4>
                    <p class="text-muted">Highly optimized GPU path tracing engine allows for instant feedback in the viewport while navigating 3D scenes. Interactive modifications made possible by partial acceleration structure rebuilds.</p>
                </div>

                <div class="col-md-4">
					<div class="circleborder">
						<img class="face" src="img/about/progressive.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Progressive refining</h4>
                    <p class="text-muted">Light Tracer uses progressive rendering mode starting with a noisy image and then progressively refining it towards the final result. You can stop the rendering at a point where you find the noise level acceptable.</p>
                </div>
                <div class="col-md-4">
					<div class="circleborder">
						<img class="face" src="img/about/materials_new.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Materials</h4>
                    <p class="text-muted">Light Tracer features a simple but robust two-layered physically-based material model allowing to simulate most common material types such as glossy surfaces, glass, metal, ceramic, plastic, wood, or car paint.</p>
                </div>
				<div class="col-md-4">
					<div class="circleborder">
						<img class="face" src="img/about/panorama.png" alt="face" width="150" height="150">
					</div>
                    <h4 class="service-heading">Lighting</h4>
                    <p class="text-muted">Light Tracer is mainly designed to use HDRI environment maps, but it also supports mesh emitters and analytically defined emitters like spherical and distant light sources.</p>
                </div>
            </div>
			
            <div class="row">
                <div class="col-lg-12 text-center">
					<h2 class="section-heading">
						<div class="centered-media">
							<div style="position:relative;padding-top:56.25%;">
							  <iframe src="https://www.youtube.com/embed/JkGqisJw3Vc" frameborder="0" allowfullscreen
								style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
							</div>
						</div>
					</h2>
                </div>
            </div>
			
			

			</div>
			
        </div>
    </section>