    <!-- Download Section -->
    <section id="download">
        <div class="row" style="margin-bottom: 60px">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="margin-bottom: 25px;">Download</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 05px;">Get Light Tracer Render for Windows 10 (64-bit)</h3>
                <p class="section-subheading text-muted" style="color: #b4bcc2; margin-bottom: 0px;">GPU released after 2013 <a href="#gpu" style="color: #b4bcc2;">required*</a></p>
                <p class="section-subheading text-muted" style="color: #b4bcc2; margin-bottom: 15px;">In order to use the native version you need a <a href="/accounts/signup/" style="color: #b4bcc2;">license</a></p>
                <a href="app.html" class="page-scroll btn btn-orange">Download now</a>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="bs-component">

                  <div class="panel panel-default">
                    <div class="panel-heading" style="color: #000; font-size: larger;">Web version</div>
                    <div class="panel-body">
                        <h2>Free</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>No registration</li>
                          <li>No installation</li>
                          <li>Easy to try</li>
                          <li>Anywhere, anytime</li>
                          <li>Most features of the engine</li>
                        </ul>
                        <a href="app.html" class="page-scroll btn btn-xl" style="margin-bottom: 20px; margin-top: 20px; padding: 10px; width: 220px;">Run in web</a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="bs-component">

                  <div class="panel panel-default">
                    <div class="panel-heading" style="color: #000; font-size: larger;">Native version</div>
                    <div class="panel-body">
                        <h2 style="text-decoration: line-through;text-decoration-thickness: 3px;">From $40</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Native performance</li>
                          <li>AI Denoisers</li>
                          <li>CAD import (STEP, IGES)</li>
                          <li>Custom backplates</li>
                          <li>Scene inspector</li>
                        </ul>
                        <a href="/accounts/signup/" class="page-scroll btn btn-orange" style="margin-bottom: 20px; margin-top: 20px; padding: 10px; width: 220px;">Free beta sign-up</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
    </section>