    <!-- Download Section -->
    <section id="download">
        <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="margin-bottom: 25px;">Download</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 5px;">Get Light Tracer Render for Windows 10 (64-bit)</h3>
                <p class="section-subheading text-muted" style="color: #b4bcc2; margin-bottom: 15px;">GPU released after 2013 (<a class="page-scroll" href="#gpu">see details</a>)</p>
                <a href="/static/builds/LightTracerRender-1.5.0-beta.exe" class="btn btn-orange">Download 1.5.0</a>
                <h3 class="section-subheading text-muted" style="margin-bottom: 5px; margin-top: 60px;">To use native version, please support the development and acquire a <b>permanent license</b></h3>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <div class="bs-component">

                  <div class="panel panel-default">
                    <div style="background-color: #f7f7f7;">
                      <img src="/static/web.svg" width="150" height="100" style="margin-top: 20px">
                      <div class="panel-heading" style="color: #45ACFF; font-size: larger; font-weight: bolder; background-color: transparent;">Web version</div>
                    </div>
                    <div class="panel-body">
                        <h2>Free</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>No registration</li>
                          <li>No installation</li>
                          <li>Easy to try</li>
                          <li>Chrome, Firefox, Edge browsers</li>
                          <li>Most features of the Light Engine</li>
                        </ul>
                        <a href="app.html" class="btn btn-xl" style="margin-bottom: 20px; margin-top: 20px; padding: 10px; width: 220px;">Run in web</a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <div class="bs-component">

                  <div class="panel panel-default">
                    <div style="background-color: #f7f7f7;">
                      <img src="/static/PC.svg" width="150" height="100" style="margin-top: 20px">
                      <div class="panel-heading" style="color: #45ACFF; font-size: larger; font-weight: bolder; background-color: transparent;">Native version</div>
                    </div>
                    <div class="panel-body">
                        <h2 style="text-decoration: line-through;text-decoration-thickness: 3px;">From $39</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Native performance</li>
                          <li>AI Denoisers</li>
                          <li>CAD import (STEP, IGES)</li>
                          <li>Custom backplates</li>
                          <li>Scene inspector / Mesh healing</li>
                        </ul>
                        <a href="/accounts/signup/" class="btn btn-orange" style="margin-bottom: 20px; margin-top: 20px; padding: 10px; width: 220px;">Free beta sign-up</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
    </section>