<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://discord.gg/7gAsv9q">Community</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in" style="margin-bottom: 0px;"><img class="img" src="img/logo_2.png" width="75%" alt=""></div>

                <div class="intro-hint-box" style="padding-top: 0px; margin-bottom: 10px;">
                    <p class="intro-hint-text" style="font-size: 26px;">Photorealistic renders everywhere!</a>
                </div>

                <a href="app.html" class="page-scroll btn btn-xl" style="margin-left: 0px;width: 220px;">Run in web</a>
                <a href="#download" class="page-scroll btn btn-orange" style="margin-left: 15px;width: 220px;">Download</a>
                <div class="intro-hint-box" style="padding-top: 0px; margin-bottom: 0px;">
                    <a class="intro-hint-text" href="https://github.com/light-tracer/issues/issues/1">See how to configure your Web browser</a>
                </div>
            </div>
        </div>
        <div class="intro-hint-box" style="text-align: right; margin-right: 10px;">
            <a class="intro-hint-text" style="
                font-family: Montserrat, 'Helvetica Neue',Helvetica,Arial,sans-serif;
                color: white;
                font-size: 12px;
            " href="https://skfb.ly/6LnXA">Model by Todor Kolev</a>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

